div#quiz{
    height: 300px;
    width: 400px;
    border: 1px solid;
    background-color: aliceblue;
}
div#question{
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
}
button.ant{
    width: 300px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
}
audio{
    display: none;
    overflow: auto;

}